*
!.gitignore
!.github/
!.github/**
!agent.js
!agent-arm64.js
!go.mod
!go.sum
!main.go
!README.md
!utils/
!utils/**
!Dockerfile
!config.yaml
!build.sh
!batch_example.txt
!docs/
!docs/**
!install_ccextractor.sh
!install_ccextractor_simple.sh
